<div class="header">
  <div class="header__inner">
    <div class="header__logo logo">
      <span class="logo__pin">MI</span>
      <span class="logo__text">MUSIC.</span>
    </div>
    <div class="header__right">
      <div class="header__nav">
        <div class="nav">
          <a href="#">Home</a>
          <a href="#">Live</a>
          <a href="#">Albums</a>
          <a href="#">News</a>
          <a href="#">About</a>
        </div>
      </div>
      <div class="header__socials">
        <div class="socials">
          <div class="socials__item">
            <a href="#">{{mixins.icon('fb')}}</a>
          </div>
          <div class="socials__item">
            <a href="#">{{mixins.icon('twitter')}}</a>
          </div>
          <div class="socials__item">
            <a href="#">{{mixins.icon('inst')}}</a>
          </div>
          <div class="socials__item">
            <a href="#">{{mixins.icon('youtube')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>