<div class="main-banner" style="background-image: url(img/main-banner.jpg)">
  <div class="main-banner__inner">
    {% include './_header.html' %}
    <div class="main-banner__slider js-banner-slider">
      <div class="main-banner__slide">
        <div class="main-banner__wrapper">
          <div class="main-banner__heading">
            <div class="main-banner__subtitle">WORLD MUSIC TOUR</div>
            <div class="main-banner__title">
              MI Music: Funk Carves Out A Groove At The Funk Music Hall Of Fame In Ohio
            </div>
          </div>
          <div class="main-banner__author author">
            <div class="author__image" style="background-image: url(img/man.png)"></div>
            <div class="author__name">james burlton</div>
            <div class="author__date">11 june 2022</div>
          </div>
        </div>
      </div>
      <div class="main-banner__slide">
        <div class="main-banner__wrapper">
          <div class="main-banner__heading">
            <div class="main-banner__subtitle">WORLD MUSIC TOUR</div>
            <div class="main-banner__title">
              MI Music: Funk Carves Out A Groove At The Funk Music Hall Of Fame In Ohio
            </div>
          </div>
          <div class="main-banner__author author">
            <div class="author__image" style="background-image: url(img/man.png)"></div>
            <div class="author__name">james burlton</div>
            <div class="author__date">11 june 2022</div>
          </div>
        </div>
      </div>
      <div class="main-banner__slide">
        <div class="main-banner__wrapper">
          <div class="main-banner__heading">
            <div class="main-banner__subtitle">WORLD MUSIC TOUR</div>
            <div class="main-banner__title">
              MI Music: Funk Carves Out A Groove At The Funk Music Hall Of Fame In Ohio
            </div>
          </div>
          <div class="main-banner__author author">
            <div class="author__image" style="background-image: url(img/man.png)"></div>
            <div class="author__name">james burlton</div>
            <div class="author__date">11 june 2022</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>