<div class="quotes">
  <div class="quotes__list">
    <div class="quotes__item">
      <div class="quote">
        <div class="quote__title">I found a love for me
            Darling, just dive right in and follow my lead.</div>
        <div class="quote__author">
          <div class="quote__poster" style="background-image: url(img/quoter.jpg)"></div>
          <div class="quote__company">mi music</div>
        </div>
      </div>
    </div>
    <div class="quotes__item">
      <div class="quote">
        <div class="quote__title">I found a love for me
            Darling, just dive right in and follow my lead.</div>
        <div class="quote__author">
          <div class="quote__poster" style="background-image: url(img/quoter.jpg)"></div>
          <div class="quote__company">mi music</div>
        </div>
      </div>
    </div>
  </div>
</div>