.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: #444;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: #444;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #444;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: #444;
}
